/* Globally */
* {
  box-sizing: border-box;
}

/*  Base Element Styles*/

body {
  font-family: Raleway, serif;
  line-height: 1.6;
  margin: 0 auto;

}

p {
  font-size: .95em;
  margin-bottom: 2em;
  text-align: center;
  color: #576366;
}


h2,
h3 {
  text-align: center;
  font-size: 0.95em;

}
img {
  width: 100%;
}



/* =================================
  Base Layout Styles
==================================== */


/* Navigation */

.name {
  font-size: 1.4em;
  margin: 0;
  font-weight: 900;
  padding: 1em;
}

.name a,
.main-nav a {
  text-align: center;
  display: block;
}

.main-nav a {
  font-size: 0.95em;
  text-transform: uppercase;
  background: white;
  margin-top: 6px;
  margin: 6px;
  padding-top: 1em;
  padding-bottom: 1em;
}

.main-nav a:hover {
  color: #ebebeb;
}


.banner {
  padding-top: 3.5em;
}
.banner img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 75%;
}
  /* margin-left: 15%;

}

/* Layout Containers */

.box {
  width: 100%;
  background: #FAFAFA;
}

.main-header,
.banner {
  width: 90%;
  margin: 0 auto;
}

.container {
  background: white;
  padding-bottom: 2em;
  padding-top: 1em;
  width: 90%;
  margin: 0 auto;
}

.background {
  background: #FAF2F1;
  font-family: abel;
  width: 100%;
}

.title {
  margin-bottom: 1.8em;
  margin-top: 1.5em;
}

.wrapper{
  width: 90%;
  margin: 0 auto;
}

.wrapper p {
  color:#5D6D7E;
}

.wrapper img {
  box-shadow: 05px 05px grey;
}

.main-footer {
  padding-top: 2em;
  padding-bottom: 2em;
  width: 90%;
  margin: 0 auto;

}
.contact {
  text-align: center;
  margin-bottom: 5em;
}

.bottom {
  text-align: center;
  border-top: 1.5px solid lightgrey;
  margin-bottom: 1.5em;
}


/* Page Elements*/

.title,
.main-nav {
  font-weight: 900 ;
}

.bottom-list {
  padding-top: 1.5em;
}

.bottom-name {
  float: left;
  font-weight: bolder;
}

.footer-nav,
.nam {
  display:none;
}

.bottom-list a:hover {
  color: #ebebeb;
}

.bottom-nav {
  float: right;
  font-weight: bolder;
}

.info {
  padding-bottom: 1em;
}
.num {
  letter-spacing: 234px;
}

span {
  font-weight: 900;
  margin-left: 10px;
}

/*  Columns Layout*/



/* ---- Float clearfix ---- */

	.clearfix::after {
		content: " ";
		display: table;
		clear: both;
	}


/* =================================
  Media Queries
==================================== */

@media(min-width: 768px){

  /* Navigation */


.name {
  margin-bottom: -.5em;
}

.main-nav li {
  float: left;
  padding: 0% 1.5em;
  padding-bottom: 1.5em;
}

.main-nav {
  display: table;
  margin: 0 auto;
}

.main-nav a {
background: #FAFAFA;
}

    /* Banner Content */

.banner {
  width: 90%;
  margin: 0  auto;
  padding-bottom: 3em;
  padding-top: 2em;
}

.banner p {
  float: left;
  text-align: left;
  width: 60%;
  font-size: 1.2em;
  padding-right: 1em;
  margin-top:0;


}

.banner img {
  float: right;
  width:40%;
  margin-top: 0;
  display: inline-block;
  margin-left: 0;
  margin-right: 0;
}

/* Columns */


.col {
  width: 49%;
  display: inline-block;
  margin: 0 auto;
}

.first,
.third,
.fifth {
  float: left;
  margin-right: 2%;
}

.col p {
  text-align: center;
  padding-left: 2em;
  padding-right: 2em;
}

.wrapper p{
  padding-left: 2em ;
  padding-right: 2em;
}
/*  Footer */

.main-footer p {
  text-align: center;
  padding: 0 5em;
  font-size: 1.156em;
}



.footer-nav a:hover {
  color: #ebebeb;
}


.bottom-name,
.bottom-nav  {
  display: none;
  font-size: 0.95em;
}

.footer-nav,
.nam {
  display:inline;
}
 .nam {
  float:left;
  margin-top:-15px;
}
.footer-nav li{
  float: right;
  margin-top:-15px;
  padding-left: 2.5em;
}

}


@media(min-width: 1024px) {

.container {
  max-width: 1024px;
}

    /* Header  */
 .name,
 .main-nav a,
 .main-nav li{
   margin: 0;
   padding: 0;
   margin-top: 1em;
}
.main-nav a {
  padding-left: 2.5em;
}
.name {
    float: left;
}
.main-nav {
  float: right;
}

  /*  Banner */

.banner {
  font-size: 1.1em;
}
    /* Columns */

.col {
    width: 33.33%;
    margin: 0 auto;
    padding: 5px;
    float: left;
  }

.col p {
    padding: 9px;
  }

.col h3{
  font-weight: bolder;
  font-size: 1.1em;
  }

.wrapper p{
    font-size: 1.1em;
  }

    /* Footer  */

.main-footer p {
  padding-right: 11em;
  padding-left: 11em;
}
  .box {
    clear: both;
  }
}
